<html>
<head>
<title>activitymain.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #e8bf6a;}
.s1 { color: #bababa;}
.s2 { color: #6a8759;}
.s3 { color: #a9b7c6;}
</style>
</head>
<body bgcolor="#2b2b2b">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
activitymain.xml</font>
</center></td></tr></table>
<pre><span class="s0">&lt;?</span><span class="s1">xml version</span><span class="s2">=&quot;1.0&quot; </span><span class="s1">encoding</span><span class="s2">=&quot;utf-8&quot;</span><span class="s0">?&gt;</span>
<span class="s0">&lt;RelativeLayout </span><span class="s1">xmlns:android</span><span class="s2">=&quot;http://schemas.android.com/apk/res/android&quot;</span>
    <span class="s1">xmlns:app</span><span class="s2">=&quot;http://schemas.android.com/apk/res-auto&quot;</span>
    <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span><span class="s0">&gt;</span>

    <span class="s0">&lt;RelativeLayout</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span><span class="s0">&gt;</span>


        <span class="s0">&lt;ImageView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/imageView16&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;198dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;171dp&quot;</span>
            <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;213dp&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;450dp&quot;</span>
            <span class="s1">android:layout_marginRight</span><span class="s2">=&quot;14dp&quot;</span>
            <span class="s1">app:srcCompat</span><span class="s2">=&quot;@drawable/rectangle_5&quot; </span><span class="s0">/&gt;</span>

        <span class="s0">&lt;TextView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/textView12&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;100dp&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;565dp&quot;</span>
            <span class="s1">android:text</span><span class="s2">=&quot;Sabun Mandi&quot;</span>
            <span class="s1">android:textColor</span><span class="s2">=&quot;@color/black&quot;</span>
            <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot; </span><span class="s0">/&gt;</span>

        <span class="s0">&lt;TextView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/textView2&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;301dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;68dp&quot;</span>
            <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;14dp&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;100dp&quot;</span>
            <span class="s1">android:text</span><span class="s2">=&quot;Kamu mau belanja apa hari ini?&quot;</span>
            <span class="s1">android:textColor</span><span class="s2">=&quot;@color/black&quot;</span>
            <span class="s1">android:textSize</span><span class="s2">=&quot;25dp&quot;</span>
            <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot; </span><span class="s0">/&gt;</span>

        <span class="s0">&lt;ImageView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/imageView2&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;389dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;104dp&quot;</span>
            <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;11dp&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;156dp&quot;</span>
            <span class="s1">app:srcCompat</span><span class="s2">=&quot;@drawable/screenshot__65_&quot; </span><span class="s0">/&gt;</span>

        <span class="s0">&lt;TextView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/textView3&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;65dp&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;189dp&quot;</span>
            <span class="s1">android:text</span><span class="s2">=&quot;Beras,Sayuran&quot;</span>
            <span class="s1">android:textSize</span><span class="s2">=&quot;25dp&quot; </span><span class="s0">/&gt;</span>

        <span class="s0">&lt;TextView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/textView10&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:text</span><span class="s2">=&quot;Rp.20.000&quot;</span>
            <span class="s1">android:textColor</span><span class="s2">=&quot;@color/black&quot;</span>
            <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;582dp&quot;</span>
            <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;222dp&quot;</span>
            <span class="s0">/&gt;</span>

        <span class="s0">&lt;ImageView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/imageView3&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;122dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;139dp&quot;</span>
            <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;10dp&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;250dp&quot;</span>
            <span class="s1">app:srcCompat</span><span class="s2">=&quot;@drawable/icon_makanan&quot; </span><span class="s0">/&gt;</span>

        <span class="s0">&lt;ImageView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/imageView4&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;114dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;136dp&quot;</span>
            <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;155dp&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;250dp&quot;</span>
            <span class="s1">app:srcCompat</span><span class="s2">=&quot;@drawable/icon_bahan_pokok&quot; </span><span class="s0">/&gt;</span>

        <span class="s0">&lt;ImageView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/imageView5&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;128dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;117dp&quot;</span>
            <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;273dp&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;254dp&quot;</span>
            <span class="s1">app:srcCompat</span><span class="s2">=&quot;@drawable/kebershina_rumah&quot; </span><span class="s0">/&gt;</span>

        <span class="s0">&lt;TextView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/textView4&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;19dp&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;379dp&quot;</span>
            <span class="s1">android:text</span><span class="s2">=&quot;Bahan Pokok&quot;</span>
            <span class="s1">android:textColor</span><span class="s2">=&quot;@color/black&quot;</span>
            <span class="s1">android:textSize</span><span class="s2">=&quot;17dp&quot; </span><span class="s0">/&gt;</span>

        <span class="s0">&lt;ImageView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/imageView23&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;56dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;47dp&quot;</span>
            <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;20dp&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;662dp&quot;</span>
            <span class="s1">app:srcCompat</span><span class="s2">=&quot;@drawable/buy&quot; </span><span class="s0">/&gt;</span>

        <span class="s0">&lt;TextView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/textView5&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;149dp&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;379dp&quot;</span>
            <span class="s1">android:text</span><span class="s2">=&quot;Makanan Ringan&quot;</span>
            <span class="s1">android:textColor</span><span class="s2">=&quot;@color/black&quot;</span>
            <span class="s1">android:textSize</span><span class="s2">=&quot;17dp&quot; </span><span class="s0">/&gt;</span>

        <span class="s0">&lt;TextView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/textView&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;14dp&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;16dp&quot;</span>
            <span class="s1">android:text</span><span class="s2">=&quot;Hallo Silvia&quot;</span>
            <span class="s1">android:textColor</span><span class="s2">=&quot;@color/black&quot;</span>
            <span class="s1">android:textSize</span><span class="s2">=&quot;17dp&quot;</span>
            <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot; </span><span class="s0">/&gt;</span>

        <span class="s0">&lt;TextView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/textView6&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;300dp&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;379dp&quot;</span>
            <span class="s1">android:text</span><span class="s2">=&quot;Kebersihan&quot;</span>
            <span class="s1">android:textColor</span><span class="s2">=&quot;@color/black&quot;</span>
            <span class="s1">android:textSize</span><span class="s2">=&quot;17dp&quot; </span><span class="s0">/&gt;</span>

        <span class="s0">&lt;ImageView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/imageView13&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;196dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;172dp&quot;</span>
            <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;14dp&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;450dp&quot;</span>
            <span class="s1">app:srcCompat</span><span class="s2">=&quot;@drawable/rectangle_5&quot; </span><span class="s0">/&gt;</span>

        <span class="s0">&lt;TextView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/textView8&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:text</span><span class="s2">=&quot;Pisang nugget&quot;</span>
            <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot;</span>
            <span class="s1">android:textColor</span><span class="s2">=&quot;@color/black&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;565dp&quot;</span>
            <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;222dp&quot;</span><span class="s0">/&gt;</span>

        <span class="s0">&lt;ImageView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/imageView&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;300dp&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;10dp&quot;</span>
            <span class="s1">app:srcCompat</span><span class="s2">=&quot;@drawable/image_3&quot; </span><span class="s0">/&gt;</span>

        <span class="s0">&lt;ImageView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/imageView14&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;191dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;14dp&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;457dp&quot;</span>
            <span class="s1">app:srcCompat</span><span class="s2">=&quot;@drawable/image_1&quot; </span><span class="s0">/&gt;</span>

        <span class="s0">&lt;TextView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/textView7&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;289dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;14dp&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;415dp&quot;</span>
            <span class="s1">android:text</span><span class="s2">=&quot;Rekomendasi buat kamu&quot;</span>
            <span class="s1">android:textColor</span><span class="s2">=&quot;@color/black&quot;</span>
            <span class="s1">android:textSize</span><span class="s2">=&quot;25dp&quot;</span>
            <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot; </span><span class="s0">/&gt;</span>

        <span class="s0">&lt;TextView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/textView9&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:text</span><span class="s2">=&quot;Sabun Mandi&quot;</span>
            <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot;</span>
            <span class="s1">android:textColor</span><span class="s2">=&quot;@color/black&quot;</span>
            <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;30dp&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;565dp&quot;</span><span class="s0">/&gt;</span>

        <span class="s0">&lt;TextView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/textView11&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:text</span><span class="s2">=&quot;Rp.15.000&quot;</span>
            <span class="s1">android:textColor</span><span class="s2">=&quot;@color/black&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;582dp&quot;</span>
            <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;30dp&quot;</span>
            <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot;</span><span class="s0">/&gt;</span>

        <span class="s0">&lt;ImageView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/imageView17&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;107dp&quot;</span>
            <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;220dp&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;457dp&quot;</span>
            <span class="s1">app:srcCompat</span><span class="s2">=&quot;@drawable/image_2&quot; </span><span class="s0">/&gt;</span>

        <span class="s0">&lt;ImageView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/imageView18&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;76dp&quot;</span>
            <span class="s1">android:layout_alignParentEnd</span><span class="s2">=&quot;true&quot;</span>
            <span class="s1">android:layout_marginEnd</span><span class="s2">=&quot;0dp&quot;</span>
            <span class="s1">app:srcCompat</span><span class="s2">=&quot;@drawable/rectangle_7&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;658dp&quot;</span><span class="s0">/&gt;</span>

        <span class="s0">&lt;ImageView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/imageView19&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;56dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;47dp&quot;</span>
            <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;335dp&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;662dp&quot;</span>
            <span class="s1">app:srcCompat</span><span class="s2">=&quot;@drawable/profile&quot; </span><span class="s0">/&gt;</span>

        <span class="s0">&lt;ImageView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/imageView22&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;56dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;47dp&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;662dp&quot;</span>
            <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;220dp&quot;</span>
            <span class="s1">app:srcCompat</span><span class="s2">=&quot;@drawable/discount&quot; </span><span class="s0">/&gt;</span>

        <span class="s0">&lt;ImageView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/imageView24&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;56dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;47dp&quot;</span>
            <span class="s1">app:srcCompat</span><span class="s2">=&quot;@drawable/buy&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;662dp&quot;</span>
            <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;110dp&quot;</span><span class="s0">/&gt;</span>

        <span class="s0">&lt;ImageView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/imageView25&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;56dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;47dp&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;662dp&quot;</span>
            <span class="s1">android:layout_marginLeft</span><span class="s2">=&quot;18dp&quot;</span>
            <span class="s1">app:srcCompat</span><span class="s2">=&quot;@drawable/home&quot; </span><span class="s0">/&gt;</span>


    <span class="s0">&lt;/RelativeLayout&gt;</span>
<span class="s0">&lt;/RelativeLayout&gt;</span></pre>
</body>
</html>